[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures
[Mm]emoryCaptures/

# Crash Reports
[Cc]rashReports/

# Rider / VS / VSCode etc
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.user
*.unityproj

# Gradle / Android / iOS
.gradle/
[Bb]uild/
*.apk
*.aab
*.ipa

# Other
*.unitypackage
